body {
    font-family: 'Lato', sans-serif;
    font-size: $default-font-size;
    font-weight: 400;
    line-height: 1.5;
    color:$color-gray-dark;
    padding: 30px;

    box-sizing: border-box;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom:60px ;

    &--main{
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;
    
        animation: moveInLeft;
        animation-duration: 3s;
        animation-timing-function: ease-in;
    }
    
    &--sub{
        display: block;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 17px;
    
        animation: moveInRigth;
        animation-duration: 3s;
        animation-timing-function: ease-in;
    }
    
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-ligth, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;

    text-shadow: .5rem 1rem 2rem rgba($color-black, .2)
}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: $default-font-size;

    &:not(:last-child){
        margin-bottom: 3rem;;
    }
}

